body{
    background-color: aliceblue;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
    margin-top: 5%;
    margin-left: 15%;


}

.card{
    margin-left: 5%;
    border-radius: 30px;
    height: 560px;
}
.card-title{
    text-align: center;
    margin-top: 8%;
    font-size: large;
    text-transform: uppercase;
}

.card-text{
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;

    letter-spacing: 3px;
    font-size: small;
}



.card:hover{
    background-color: rgb(62, 63, 63);
    color: black;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;


}

.btn-1{
    width: 110px;
    height: 40px;
    border: none;
    color: black;
    margin-top:20%;
    background-color: rgb(255, 230, 0.884);
    border-radius: 4px;
    font-size: 1rem;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out 0.5s;
    outline: none;

}

.btn-1:hover{
    box-shadow: inset 110px 0 0 0 #0f0f0f;
    cursor: pointer;
    color: #f9e506;
}

.btn-2{
    width: 110px;
    height: 40px;
    border: none;
    color: black;
    background-color: rgb(255, 230, 0.884);
    border-radius: 4px;
    font-size: 1rem;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out 0.5s;
    outline: none;
}

.btn-2:hover{
    box-shadow: inset 110px 0 0 0 #0f0f0f;
    cursor: pointer;
    color: #f9e506;
}

.btn-3{
    width: 110px;
    height: 40px;
    border: none;
    color: black;
    background-color: rgb(255, 230, 0.884);
    border-radius: 4px;
    font-size: 1rem;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out 0.5s;
    outline: none;
    position: relative;

}

.btn-3:hover{
    box-shadow: inset 110px 0 0 0 #0f0f0f;
    cursor: pointer;
    color: #f9e506;
}

.btn-4{
    width: 110px;
    height: 40px;
    border: none;
    color: black;
    background-color: rgb(255, 230, 0.884);
    border-radius: 4px;
    font-size: 1rem;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out 0.5s;
    outline: none;
}

.btn-4:hover{
    box-shadow: inset 110px 0 0 0 #0f0f0f;
    cursor: pointer;
    color: #f9e506;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: rgb(5, 58, 206);
    height: 80px;
    box-shadow: 0px 2px 5px #777;

}

/* header  */
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    line-height: 25px;
    border-radius: 4px;
}

/* Style the logo  */
.header .logo {

    width: 80px;
    height: auto;


}

/* Change the background color on mouse-over */
.header a:hover {
    background-color: rgb(218, 233, 10);
    color: black;
    transition: all 1s ease;
}

/* Style the active/current link*/
.header a.active {
    color: black;
}

/* Float the link section to the right */
.header-right {
    float: right;

}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}