<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="" th:href="@{/css/style.css}">
    <title>Document</title>
</head>

<body>

<div class="header">
    <img src="" th:src="@{/images/logo.png}" class="logo">
    <div class="header-right">
        <a class="active" href="#home">Home</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
        <a href="#about">Log Out</a>
    </div>
</div>



</body>
</html>

<section>

    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="card text-center bg-primary">
                    <div class="card-block">
                        <div class="card-title">
                            <h4>Paket 1</h4>
                        </div>
                        <div class="wp-1">
                            <i class="bi bi-telephone-fill" style="font-size: 50px;"></i>
                        </div>
                        <div class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

                        </div>
                        <button style="margin-top: 10px;" href="#" class="btn-1" >Click</button>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="card text-center bg-primary">
                    <div class="card-block">

                        <div class="card-title">
                            <h4>Paket 2</h4>
                        </div>
                        <div class="wp-2">
                            <i class="bi bi-whatsapp" style="font-size: 50px;"></i>
                        </div>
                        <div class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
                        <button style="margin-top: 10px;" href="#" class="btn-2" >Click</button>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="card text-center bg-primary">
                    <div class="card-block">
                        <div class="card-title">
                            <h4>Paket 3</h4>
                        </div>
                        <div class="wp-3">
                            <i class="bi bi-spotify" style="font-size: 50px;"></i>
                        </div>
                        <div class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
                        <button style="margin-top: 10px;" href="#" class="btn-3" >Click</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="card text-center bg-primary">
                    <div class="card-block">
                        <div class="card-title">
                            <h4>Paket 4</h4>
                        </div>
                        <i class="bi bi-messenger" style="font-size: 50px;"></i>
                        <div class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
                        <button style="margin-top: 10px;" href="#" class="btn-4" >Click</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

